.form-container {
      display: inline-block;
      justify-content: center;
      align-items: center;
      width: 25%;
      margin: 2%;
      background-color:#164B60;
      color:#A2FF86;
    }
    .body-outer
    {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#176B87;
    margin:1%;
    }
      .form-container h1 {
      color:#FF9EAA;
      text-align:center;
      }
      body {
 	  justify-content: center;
 	  align-items: center;
      font-family: Arial, sans-serif;
      background-color:#A1C2F1;
      color: #333333;
    }
      .form-container-top h1 {
      color:#FF9EAA;
      text-align:center;
      }
    
	
    .form-container-top
    {
      display: inline-block;
      justify-content: center;
      align-items:center;
      width: 40%;
      height: 18%;
      margin: 2%;
      background-color:#164B60;
      color:#A2FF86;

    }
    .body-outer-banner
    {
    display: flex;
    justify-content:left;
    align-items:center;
    background-color:#176B87;
    margin:1%;
    padding-left:7%;
      }

    .body-outer-top
    {
    padding-left:5%;
    justify-content:center;
    align-items:center;
    background-color:#176B87;
    margin:1%;

      }
    .form-container-links
{
      display: inline-block;
      justify-content: center;
      align-items:center;
      width: 25%;
      margin: 1%;
      background-color:#164B60;
      color:#A2FF86;

}