<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>MyBank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" th:href="@{/home.css}" />
    <style>
  </style>
</head>
<body>
<div class="body-outer">

<div class="form-container">
<h1>Account Details</h1>
<div class="body-outer">
    <h5>Account Number: <span th:text="${userDetails.accountNum}" style="color:white; "></span></h5>
    <h5>Account Balance: <span th:text="${userDetails.accountBal}" style="color:white;"></span></h5>
    <h5>User Name: <span th:text="${userDetails.userName}" style="color:white;"></span></h5><br>
    <h1><a href="/" style="color:red;">Logout</a></h1>
    </div></div>

</div>


<div class="body-outer">

  <div class="form-container">
<h1>Check Balance</h1><br>
<div class="body-outer">
 <form th:action="@{/mybank/balance/{id}}" method="get" >
  <label for="id">Enter your Account Number</label><br>
  <input type="number" id="id"  name="id" required><br>
  <p><input type="submit" value="Submit" />
  <input type="reset" value="Reset" /></p>
  <input type="hidden"><br>
  <input type="hidden"><br>
 </form>
 </div></div>


  <div class="form-container">
	<h1>Deposit</h1><br>
  <div class="body-outer">
    <form th:action="@{/mybank/credit/{id}/{amount}}" method="get" >
  <label for="id">Enter the Account Number</label><br>
  <input type="number" id="id"  name="id" required><br>
  <label for="amount">Enter Deposit Amount</label><br>
  <input type="number" id="amount"  name="amount" required><br>
       <p><input type="submit" value="Submit" />
       <input type="reset" value="Reset" /></p>
    </form>
    </div></div>
    
    
    <div class="form-container">
    <h1>Withdraw</h1><br>
    <div class="body-outer">
     <form th:action="@{/mybank/debit/{id}/{amount}}" method="get" >    
  <label for="id">Enter the Account Number</label><br>
  <input type="number" id="id"  name="id" required><br>
  <label for="amount">Enter Withdrawal Amount</label><br>
  <input type="number" id="amount"  name="amount" required><br>
       <p><input type="submit" value="Submit" />
       <input type="reset" value="Reset" /></p>
    </form>
    </div></div>
    
</div>
</body>
</html>