<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form th:action="@{mybank/create}" method="post" th:object="${formData}">
    	<p>accountNum<input type="text" id="accountNum" /></p>
        <p>accountBal<input type="text" id="accountBal" /></p>
        <p>userName<input type="text" id="userName" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    
    <form th:action="@{/mybank/{addBal}}" method="get" >
        <p>addBalance<input type="text" id="addBal" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>